// main titles, text, icon
$primary_dark: #393939;
$primary_white: #f7f7f7;

// lite links
$primary_light: #4e4e4e;

//Labels
$dark_label: #393939;
$teal_label: #62c7c7;
$lite_label: #f7f7f7;

// BackGrounds
$dark_bg: #62c7c7;
$lite_bg: #f7f7f7;
