@font-face {
  font-family: "OpenSans_Regular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans_Bold";
  src: url("/fonts/OpenSans-Bold.ttf") format("trueType");
}
